[class='react-datepicker__time-list-item  react-datepicker__time-list-item--disabled'] {
    display: none;
}

.estiloCalendar{
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  width: 50%;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
}

.estiloCalendar:focus{
  color:#212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline:0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.notFound{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem !important; 
  max-width: 80%;
  height: 80%;
  display: block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .notFound{
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5rem !important; 
      max-width: 65%;
      height: 65%;
      display: block;
  }
}