.leftContainer{
    background-color: #c0e1af;
}

.rightContainer{
    background-color: white;
}

.carousel-caption{
    position: unset;
    color: black;
}

.sizeImg{
    max-width: 82%;
    height: 100%
}
