.estiloCalendar{
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    width: 100%;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
}

.estiloCalendar:focus{
    color:#212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline:0;
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}